<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= javascript_include_tag "chartkick" %>
  </head>

  <body class="<%= controller_name == 'dashboards' && action_name == 'show' ? 'bg-black' : 'min-h-screen bg-cover bg-center bg-no-repeat' %>" style="<%= controller_name == 'dashboards' && action_name == 'show' ? '' : "background-image: url(#{asset_path('router_fondo.jpg')})" %>">
    <!-- <header class="bg-black h-20 flex items-center pl-5 pt-5">
      <%= link_to root_path do %>
        <%= image_tag "somos_logo.jpg", alt: "Logo Somos", class: "h-4 w-auto" %>
      <% end %>
    </header> -->

  <main class="min-h-screen pt-16">
    <div class="max-w-7xl mx-auto px-4">
      <%= yield %>
    </div>
  </main>
  </body>
</html>